@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

.navbar {
  background: #000;
  padding: 18px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-inner {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.nav-link {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-decoration: none;
  position: relative;
  transition: 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: rgb(255, 230, 0);
  transition: 0.3s ease;
}

.nav-link:hover {
  color: rgb(255, 230, 0);
}

.nav-link:hover::after {
  width: 100%;
}
